#reactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
}

#bookingFormContainer {
    background-color: rgba(79, 77, 74, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
}

#bookingFormContainer #formTitle {
    padding: 5px;
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 16pt;
    letter-spacing: 1px;
}

#bookingFormContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookingFormContainer .selectionContainer {
    display: flex;
    flex-direction: column;
}

#bookingFormContainer .selectionRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#bookingFormContainer .textInput {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    font-size: 12pt;
    width: 160px;
}

#bookingFormContainer select {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    border: none;
    padding: 10px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 5px;
    font-size: 12pt;
    flex: 1;
    width: 160px;
}

#bookingFormContainer #submitButton {
    padding: 15px;
    background-color: #038ED6;
    border: none;
    color: white;
    font-size: 13pt;
    -webkit-appearance: none;
}

#interactiveCheckList {
    padding: 20px;
    max-width: 900px;
}

#optionButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#optionButtonsContainer .selectedButton {
    padding: 15px;
    background-color:#038ED6;
    flex: 1;
    color: white;
    font-size: 12pt;
    margin: 5px;
    -webkit-appearance: none;
    border-color: #038ED6;
    border-width: 1px;
    border-radius: 3px;
    white-space: nowrap;
}

#optionButtonsContainer .hiddenButton {
    padding: 15px;
    background-color:white;
    flex: 1;
    color: grey;
    font-size: 12pt;
    margin: 5px;
    -webkit-appearance: none;
    border-color: #d3d3d3;
    border-width: 1px;
    border-radius: 3px;
    white-space: nowrap;
}

#checkListsContainer {
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: #E8EBED;
}

#checkListsContainer .checkListRow {
    display: flex;
    flex-direction: row;
}

.checkListPage {
    flex: 1;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.checkListPage h3 {
    padding: 0px;
    margin: 3px;
    font-size: 12pt;
}

.checkListPage ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.checkListPage li {
    padding: 7px;
    font-size: 10pt;
}

.checkListPage li::before {
    color: white;
    content: "✔\fe0e";
    background-color: #038ED6;
    font-size: 5pt;
    margin-right: 10px;
    padding: 3px;
    border-radius: 3px;
}

.checkListPage .notIncluded::before {
    color: white;
    content: '✘';
    background-color: grey;
    font-size: 5pt;
    margin-right: 10px;
    padding: 3px;
    border-radius: 3px;
}

#checkListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bookingFormContainer #submitContainer {
    padding: 12px;
}

#headerVideoContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -2;
}

#headerVideoShade {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

@media only screen and (max-width: 600px) {

    #bookingFormContainer .selectionRow {
        flex-direction: column;
    }

    #bookingFormContainer #formTitle {
        font-size: 12pt;
    }

    #bookingFormContainer #submitButton {
        font-size: 10pt;
    }

    #bookingFormContainer select {
        font-size: 10pt;
    }

    #bookingFormContainer .textInput {
        font-size: 10pt;
    }

    #optionButtonsContainer .hiddenButton {
        font-size: 9pt;
        padding: 10px;
        margin: 3px;
    }

    #optionButtonsContainer .selectedButton {
        font-size: 9pt;
        padding: 10px;
        margin: 3px;
    }

    #checkListsContainer .checkListRow {
        flex-direction: column;
    }

    .checkListPage li {
        font-size: 8pt;
    }

}

.holder2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.coverHolder {
    min-height: 900px;
}

#dealTitle {
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 22pt;
}

#dealDetails {
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 16pt;
}

#dealTerms {
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 9pt;
    padding-top: 5px;
}

#cleaningFormContainer {
    padding: 25px;
}

@media only screen and (max-width: 900px) {
    .holder2 {
        flex-direction: column;
    }

    #dealTitle {
        font-size: 14pt;
        text-align: center;
    }

    #dealDetails {
        font-size: 12pt;
        text-align: center;
    }

    #dealTerms {
        font-size: 8pt;
        text-align: center;
    }

    .coverHolder {
        min-height: 800px;
    }

}

#homeFormContainer {
    padding-top: 190px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#postCodeFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}