html, body {
    height: 100%;
    margin: 0;
}

body > #react-container {
    height: 100vh;
}

#reactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
}

#bookingFormContainer {
    background-color: rgba(79, 77, 74, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
}

#bookingFormContainer #formTitle {
    padding: 5px;
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 16pt;
    letter-spacing: 1px;
}

#bookingFormContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookingFormContainer .selectionContainer {
    display: flex;
    flex-direction: column;
}

#bookingFormContainer .selectionRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#bookingFormContainer .textInput {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    font-size: 12pt;
    width: 160px;
}

#bookingFormContainer select {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    border: none;
    padding: 10px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 5px;
    font-size: 12pt;
    flex: 1;
    width: 160px;
}

#bookingFormContainer #submitButton {
    padding: 15px;
    background-color: #038ED6;
    border: none;
    color: white;
    font-size: 13pt;
    -webkit-appearance: none;
}

#bookingFormContainer #submitContainer {
    padding: 12px;
}

@media only screen and (max-width: 600px) {

    #bookingFormContainer .selectionRow {
        flex-direction: column;
    }

    #bookingFormContainer #formTitle {
        font-size: 12pt;
    }

    #bookingFormContainer #submitButton {
        font-size: 10pt;
    }

    #bookingFormContainer select {
        font-size: 10pt;
    }

    #bookingFormContainer .textInput {
        font-size: 10pt;
    }

}